<!DOCTYPE html>
<html>
<head>
    <title>Sample Military Grid</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Sample Military Grid</h1>
    <div id="grid-container">
        <table id="grid">
            <tr>
                <td id="cell-A1" class="highlighted light-grey"></td>
                <td id="cell-A2" class="highlighted yellow"></td>
                <td id="cell-A3" class="highlighted blue"></td>
                <td id="cell-A4" class="highlighted green"></td>
                <td id="cell-A5" class="highlighted red"></td>
                <td id="cell-A6" class="highlighted yellow"></td>
                <td id="cell-A7" class="highlighted blue"></td>
                <td id="cell-A8" class="highlighted green"></td>
                <td id="cell-A9" class="highlighted light-grey"></td>
            </tr>
            <tr>
                <td id="cell-B1" class="highlighted red"></td>
                <td id="cell-B2" class="light-grey"></td>
                <td id="cell-B3" class="light-grey"></td>
                <td id="cell-B4" class="light-grey"></td>
                <td id="cell-B5" class="highlighted yellow"></td>
                <td id="cell-B6" class="light-grey"></td>
                <td id="cell-B7" class="light-grey"></td>
                <td id="cell-B8" class="light-grey"></td>
                <td id="cell-B9" class="highlighted red"></td>
            </tr>
            <tr>
                <td id="cell-C1" class="highlighted green"></td>
                <td id="cell-C2" class="light-grey"></td>
                <td id="cell-C3" class="light-grey"></td>
                <td id="cell-C4" class="light-grey"></td>
                <td id="cell-C5" class="highlighted blue"></td>
                <td id="cell-C6" class="light-grey"></td>
                <td id="cell-C7" class="light-grey"></td>
                <td id="cell-C8" class="light-grey"></td>
                <td id="cell-C9" class="highlighted yellow"></td>
            </tr>
            <tr>
                <td id="cell-D1" class="highlighted blue"></td>
                <td id="cell-D2" class="light-grey"></td>
                <td id="cell-D3" class="light-grey"></td>
                <td id="cell-D4" class="light-grey"></td>
                <td id="cell-D5" class="highlighted green"></td>
                <td id="cell-D6" class="light-grey"></td>
                <td id="cell-D7" class="light-grey"></td>
                <td id="cell-D8" class="light-grey"></td>
                <td id="cell-D9" class="highlighted blue"></td>
            </tr>
            <tr>
                <td id="cell-E1" class="highlighted yellow"></td>
                <td id="cell-E2" class="highlighted blue"></td>
                <td id="cell-E3" class="highlighted green"></td>
                <td id="cell-E4" class="highlighted red"></td>
                <td id="cell-E5" class="highlighted light-grey"></td>
                <td id="cell-E6" class="highlighted blue"></td>
                <td id="cell-E7" class="highlighted yellow"></td>
                <td id="cell-E8" class="highlighted red"></td>
                <td id="cell-E9" class="highlighted green"></td>
            </tr>
            <tr>
                <td id="cell-F1" class="highlighted red"></td>
                <td id="cell-F2" class="light-grey"></td>
                <td id="cell-F3" class="light-grey"></td>
                <td id="cell-F4" class="light-grey"></td>
                <td id="cell-F5" class="highlighted yellow"></td>
                <td id="cell-F6" class="light-grey"></td>
                <td id="cell-F7" class="light-grey"></td>
                <td id="cell-F8" class="light-grey"></td>
                <td id="cell-F9" class="highlighted red"></td>
            </tr>
            <tr>
                <td id="cell-G1" class="highlighted green"></td>
                <td id="cell-G2" class="light-grey"></td>
                <td id="cell-G3" class="light-grey"></td>
                <td id="cell-G4" class="light-grey"></td>
                <td id="cell-G5" class="highlighted red"></td>
                <td id="cell-G6" class="light-grey"></td>
                <td id="cell-G7" class="light-grey"></td>
                <td id="cell-G8" class="light-grey"></td>
                <td id="cell-G9" class="highlighted yellow"></td>
            </tr>
            <tr>
                <td id="cell-H1" class="highlighted blue"></td>
                <td id="cell-H2" class="light-grey"></td>
                <td id="cell-H3" class="light-grey"></td>
                <td id="cell-H4" class="light-grey"></td>
                <td id="cell-H5" class="highlighted green"></td>
                <td id="cell-H6" class="light-grey"></td>
                <td id="cell-H7" class="light-grey"></td>
                <td id="cell-H8" class="light-grey"></td>
                <td id="cell-H9" class="highlighted blue"></td>
            </tr>
            <tr>
                <td id="cell-I1" class="highlighted light-grey"></td>
                <td id="cell-I2" class="highlighted yellow"></td>
                <td id="cell-I3" class="highlighted red"></td>
                <td id="cell-I4" class="highlighted green"></td>
                <td id="cell-I5" class="highlighted blue"></td>
                <td id="cell-I6" class="highlighted yellow"></td>
                <td id="cell-I7" class="highlighted red"></td>
                <td id="cell-I8" class="highlighted green"></td>
                <td id="cell-I9" class="highlighted light-grey"></td>
            </tr>
        </table>
    </div>
</body>
</html>
